:root {
  --font-sans-serif: Montserrat, sans-serif;
  --navy-blue: #253548;
  --blush-pink: #e4cec;
  --neutral-tan: #f3eee7;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-sans-serif);
}
