:root {
  --font-sans-serif: Montserrat, sans-serif;
  --font-serif:'Playfair Display', serif;
  --navy-blue: #253548;
  --blush: #e4cec;
  --tan: #f3eee7;
  --black: #000;
  --white: #fff;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-serif);
}
