:root {
  --font-sans-serif: Montserrat, sans-serif;
  --font-serif:'Playfair Display', serif;
  --navy-blue: #253548;
  --blush: #E4CEC5;
  --tan: #f3eee7;
  --black: #000;
  --white: #fff;
  --font-cursive: 'Dawning of a New Day', cursive;
}

html {
  box-sizing: border-box;
  padding: 20px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
  display: block;
}




/* components */

h3 span {
  background-color: var(--blush);
  font-size: 1em;
}


.component img {
  max-width: initial;
}

.component__image {
  /* border: 1px solid #ccc; */
  overflow-x: auto;
}

.component__code {
  /* border: 1px solid #ccc; */
  background-color: var(--white);
}

.component__code--navy-blue {
  border: 1px solid #ccc;
  background-color: var(--navy-blue);
}

.component__code--tan {
  border: 1px solid #ccc;
  background-color: var(--tan);
}

article {

  padding-bottom: 50px;
  border: 10px var(--blush) solid;
}

/* typography */

body {
  font-family: var(--font-serif);
  text-align: center;
  font-size: 1.2em;
}

h1, h2, h3 {
  text-align: left;
}

h1 {
  font-family: var(--font-serif);
  text-transform: uppercase;
  font-size: 2.65em;
  font-weight: 300;
}

h2 {
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1em;
  letter-spacing: 3px;
}

.h2--cursive-white {
  font-family: var(--font-cursive);
  color: var(--white);
  text-transform: none;
  font-size: 1.9em;
  letter-spacing: -0.5px;
}

.h2--cursive-black {
  font-family: var(--font-cursive);
  color: var(--black);
  text-transform: none;
  font-size: 2.2em;
  letter-spacing: -0.5px;
}

.h2--bold {
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4em;
}

.h2--capitalized {
  font-family: var(--font-serif);
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 6px;
}

h3 {
  font-family: var(--font-serif);
  font-size: 2.3em;
  font-weight: 300;
}

.h3--capitalized {
  font-family: var(--font-serif);
  text-transform: uppercase;
  font-size: 2.65em;
  font-weight: 300;
}

button {
  font-family: var(--font-sans-serif);
  background-color: var(--navy-blue);
  color: var(--white);
  text-transform: uppercase;
  font-size: .8em;
  padding: 1.2em 2.5em;
  letter-spacing: 4px;
  border: none;
}

.button--blush {
  color: var(--black);
  background-color: var(--blush);
}

.button--white {
  font-family: var(--font-serif);
  font-style: italic;
  text-transform: lowercase;
  color: var(--black);
  background-color: var(--white);
  letter-spacing: 1px;
}
