<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day|Montserrat:300,300i,500,500i|Playfair+Display:400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../main.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Components</title>
  </head>
  <body>
    <h1>Web Components Go Here!</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
      <h3 class="component__name section-title"><span>Paragraph</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-04__paragraph.png 2x"
        src="../components/images/div-bar-04__paragraph.png" alt="body-copy">
      </div>
      <div class="component__code">
        <p>My Southern mama taught me that a good hostess always makes her guests feel welcome,</p>
        <p>So I do hope you’ll make yourself at home in my virtual world.</p>
        <p>At French Kiss Life, we curate timeless wisdom and stories for the modern woman.</p>
        <p>If you’re wondering where to start, click below,</p>
        <p>So you can saunter into a new lifestyle to French Kissing Life!</p>
      </div>
    </article>

    <article class="component">
      <h3 class="component__name section-title"><span>Paragraph--white</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-03__paragraph.png 2x"
        src="../components/images/div-bar-03__paragraph.png" alt="body-copy">
      </div>
      <div class="component__code--navy-blue">
        <p class="p--white">You <em>can</em> “have it all”</p>
        <p class="p--white">because you <em>already</em> have</p>
        <p class="p--white">it all within you.</p>
      </div>
    </article>

    <article class="component">
      <h3 class="component__name section-title"><span>Paragraph--testimony</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-08__testimony-source.png 2x"
        src="../components/images/div-bar-08__testimony-source.png" alt="body-copy">
      </div>
      <div class="component__code">
        <p class="p--testimony">&#8212;Lynn Daue</p>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings"><span>h1</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-02__h2.png 2x" src="../components/images/div-bar-02__h2.png" alt="h1">
      </div>
      <div class="component__code">
        <h1>Welcome to French Kiss Life</h1>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings"><span>h2</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-02__h3.png 2x" src="../components/images/div-bar-02__h3.png" alt="h2">
      </div>
      <div class="component__code">
        <h2>Where Personal Development Meets Style</h2>
      </div>
    </article>


    <article class="component">
      <h3 class="component__headings"><span>h2--cursive-white</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-03__h2.png 2x" src="../components/images/div-bar-03__h2.png" alt="h2--cursive-white">
      </div>
      <div class="component__code--navy-blue">
        <h2 class="h2--cursive-white">When you French Kiss Life...</h2>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings"><span>h2--cursive-black</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-04__h2.png 2x" src="../components/images/div-bar-04__h2.png" alt="h2--cursive-black">
      </div>
      <div class="component__code">
        <h2 class="h2--cursive-black">Well, hello there!</h2>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings"><span>h2--bold</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-05__h2.png 2x" src="../components/images/div-bar-05__h2.png" alt="h2--bold">
      </div>
      <div class="component__code--tan">
        <h2 class="h2--bold">3 Mindset Makeovers</h2>
        <h2 class="h2--bold">Every Woman Needs</h2>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings"><span>h2--capitalized</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-10__h2.png 2x" src="../components/images/div-bar-10__h2.png" alt="h2--capitalized">
      </div>
      <div class="component__code--tan">
        <h2 class="h2--capitalized">Let's Rendezvous</h2>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings"><span>h3</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-07__h2.png 2x" src="../components/images/div-bar-07__h2.png" alt="h3">
      </div>
      <div class="component__code">
        <h3>French Kiss Life Insider</h3>
      </div>
    </article>


    <article class="component">
      <h3 class="component__headings"><span>h3--capitalized</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-04__h3.png 2x" src="../components/images/div-bar-04__h3.png" alt="h3--capitalized">
      </div>
      <div class="component__code">
        <h3 class="h3--capitalized">I'm Tonya</h3>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings"><span>h3--article-title</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-09__h3.png 2x" src="../components/images/div-bar-09__h3.png" alt="h3--article-title">
      </div>
      <div class="component__code">
        <h3 class="h3--article-title">Romance Your Life</h3>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings"><span>h3--article-title-white</span></h3>
      <div class="component__image">
        <img srcset="../components/images/footer__h2.png 2x" src="../components/images/footer__h2.png" alt="h3--article-title-white">
      </div>
      <div class="component__code--navy-blue">
        <h3 class="h3--article-title-white">Subscribe</h3>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings"><span>h3--instagram-handle</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-10__h3.png 2x" src="../components/images/div-bar-10__h3.png" alt="h3--instagram-handle">
      </div>
      <div class="component__code--tan">
        <h3 class="h3--instagram-handle">&#64;tonyaleigh</h3>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings"><span>h3--cursive</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-10__h3--cursive.png 2x" src="../components/images/div-bar-10__h3--cursive.png" alt="h3--cursive">
      </div>
      <div class="component__code--tan">
        <h3 class="h3--cursive">on instagram</h3>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings"><span>h4</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-09__article-title.png 2x" src="../components/images/div-bar-09__article-title.png" alt="h4">
      </div>
      <div class="component__code">
        <h4>100 ways to have a love affair with life</h4>
      </div>
    </article>

    <article class="component">
      <h3 class="component__button"><span>button</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-02__button.png 2x" src="../components/images/div-bar-02__button.png" alt="button">
      </div>
      <div class="component__code">
        <button>Learn More</button>
      </div>
    </article>

    <article class="component">
      <h3 class="component__button"><span>button--blush</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-03__button.png 2x" src="../components/images/div-bar-03__button.png" alt="button--pink">
      </div>
      <div class="component__code">
        <button class="button--blush">Oui Please</button>
      </div>
    </article>

    <article class="component">
      <h3 class="component__button"><span>button--white</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-09__button.png 2x" src="../components/images/div-bar-09__button.png" alt="button--white">
      </div>
      <div class="component__code">
        <button class="button--white">read more &#62;</button>
      </div>
    </article>

    <article class="component">
      <h3 class="component__button"><span>nav-link</span></h3>
      <div class="component__image">
        <img srcset="../components/images/nav-bar__page-link.png 2x" src="../components/images/nav-bar__page-link.png" alt="nav-atom">
      </div>
      <div class="component__code">
        <p class="nav-link"><a href="#">About</a></p>
      </div>
    </article>

    <article class="component">
      <h3 class="component__button"><span>nav-link--capitalized</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-01__paragraph.png 2x" src="../components/images/div-bar-01__paragraph.png" alt="nav-link--capitalized">
      </div>
      <div class="component__code--blush">
        <p class="nav-link--capitalized"><a href="#">Mindset is the New Black</a></p>
      </div>
    </article>

    <article class="component">
      <h3 class="component__button"><span>footer-link</span></h3>
      <div class="component__image">
        <img srcset="../components/images/footer__nav-link.png 2x" src="../components/images/footer__nav-link.png" alt="footer-link">
      </div>
      <div class="component__code--navy-blue">
        <p class="footer-link"><a href="#">Home</a></p>
      </div>
    </article>

    <article class="component">
      <h3 class="component__button"><span>.p--copyright</span></h3>
      <div class="component__image">
        <img srcset="../components/images/footer--copyright__paragraph.png 2x" src="../components/images/footer--copyright__paragraph.png" alt="p--copyright">
      </div>
      <div class="component__code">
        <p class="p--copyright">&#169; 2019 French Kiss Life. All Rights Reserved.</p>
      </div>
    </article>

    <article class="component">
      <h3 class="component__button"><span>.p--copyright-link</span></h3>
      <div class="component__image">
        <img srcset="../components/images/footer--copyright__links.png 2x" src="../components/images/footer--copyright__links.png" alt="p--copyright-link">
      </div>
      <div class="component__code">
        <p class="p--copyright-link"><a href="#">Privacy Policy</a></p>
      </div>
    </article>


    <h2>Molecules</h2>

    <article class="component">
      <h3 class="component__button"><span>banner</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-01__lead.png 2x" src="../components/images/div-bar-01__lead.png" alt="banner">
      </div>
      <div class="component__code--blush">
        <div class="banner">
                <p class="nav-link--capitalized">Mindset is the new black::</p>
                <p class="nav-link">click here to download 3 mindset makeovers every woman needs </p>
                <img srcset="../components/images/div-bar-01__icon.png 2x" src="../components/images/div-bar-01__icon.png" alt="triangle-icon">
        </div>
      </div>
    </article>

    <article class="component">
      <h3 class="component__button"><span>nav-bar</span></h3>
      <div class="component__image">
        <img srcset="../components/images/nav-bar.png 2x" src="../components/images/nav-bar.png" alt="banner">
      </div>
      <div class="component__code">
          <header class="header background--blush">
            <div class="header__logo"><a href="#"><img srcset="../components/images/nav-bar__logo.png 2x" src="components/images/nav-bar__logo.png" alt="logo"></a></div>
            <ul class="header__nav nav-link">
              <li><a href="#">About</a></li>
              <li><a href="#">Start Here</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="#">Courses</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#"><img srcset="../components/images/nav-bar__search-icon.png 2x" src="components/images/nav-bar__search-icon.png" alt="search-icon"></a></li>
            </ul>
        </header>
      </div>
    </article>


    <article class="component">
      <h3 class="component__button"><span>hero</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-02.png 2x" src="../components/images/div-bar-02.png" alt="hero">
      </div>
      <div class="component__code">
          <div class="hero">
            <img srcset="../components/images/div-bar-02__icon.png 2x" src="../components/images/div-bar-02__icon.png" alt="xo-icon">
            <h1>Welcome to French Kiss Life</h1>
            <h2>Where Personal Development Meets Style</h2>
            <p>More Elegance in your Everyday </p>
              <p>and more Joie in your Vivre</p>
            <button type="button" name="button">Learn More</button>
        </div>
      </div>
    </article>


    <article class="component">
      <h3 class="component__button"><span>page-section</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-03.png 2x" src="../components/images/div-bar-03.png" alt="section-03">
      </div>
      <div class="page-section">
            <div class="page-section__featured-media">
              <img srcset="../components/images/div-bar-03__img.png 2x" src="../components/images/div-bar-03__img.png" alt="xo-icon">
          </div>
            <div class="page-section__content page-section__content--filled-navy">
            <h2 class="h2--cursive-white">When you French Kiss Life...</h2>
            <p class="p--white">You <em>can</em> “have it all”</p>
            <p class="p--white">because you <em>already</em> have</p>
            <p class="p--white">it all within you.</p>
            <button class="button--blush">Oui Please</button>
          </div>
      </div>
    </article>

    <article class="component">
      <h3 class="component__button"><span>page-section--grid</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-04.png 2x" src="../components/images/div-bar-04.png" alt="section-03">
      </div>
      <div class="page-section page-section--blush-border">
            <div class="page-section__featured-media">
              <img srcset="../components/images/div-bar-04__img.png 2x" src="../components/images/div-bar-04__img.png" alt="photo of Tonya laughing" class="left-padding--negative50px">
          </div>
            <div class="page-section__content">
              <h2 class="h2--cursive-black">Well, hello there!</h2>
              <h3 class="h3--capitalized">I'm Tonya</h3>
              <p>My Southern mama taught me that a good hostess always makes her guests feel welcome,</p>
              <p>So I do hope you’ll make yourself at home in my virtual world.</p>
              <p>At French Kiss Life, we curate timeless wisdom and stories for the modern woman.</p>
              <p>If you’re wondering where to start, click below,</p>
              <p>So you can saunter into a new lifestyle to French Kissing Life!</p>
            <button>Start Here</button>
          </div>
      </div>
    </article>

    <article class="component">
      <h3 class="component__button"><span>page-section--center</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-07.png 2x" src="../components/images/div-bar-07.png" alt="section-03">
      </div>
      <div class="page-section--center">
            <div class="page-section--center-content">
              <h2 class="top-padding--100px">You're Invited to the Best Party in Town</h2>
              <h2>Become a</h2>
              <h3>French Kiss Life Insider</h3>
              <p>We look for possibility, not problems</p>
              <p>We don't fix ourselves; we create ourselves..</p>
              <p>We turn ordinary days into romantic affairs.</p>
              <p>We celebrate every single day</p>
              <p>(because we know that a happy woman is a magnet for her desires).</p>
              <h2 class="h2--cursive-black">Fancy Joining Us?</h2>
              <button type="button" name="button" class="bottom-padding--negative50px">Grab Your Manifesto</button>
          </div>
        </div>
    </article>

    <article class="component">
      <h3 class="component__button"><span>page-section--articles</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-09.png 2x" src="../components/images/div-bar-09.png" alt="page-section--articles mockup">
      </div>
      <div class="page-section--articles">
        <div class="page-section--article-headline">
          <img srcset="../components/images/div-bar-09__title.png 2x" src="../components/images/div-bar-09__title.png" alt="article-headline" class="center">
        </div>
            <div class="page-section--article-content">
              <img srcset="../components/images/div-bar-09__img.png 2x" src="../components/images/div-bar-09__img.png" alt="article-image-01" class="center">
              <h3 class="h3--article-title">Romance Your Life</h3>
              <h4>100 Ways to Have a Love Affair with Life</h4>
              <button type="button" name="button" class="button--white">read more &#62;</button>
          </div>
          <div class="page-section--article-content">
            <img srcset="../components/images/div-bar-09__img02.jpg 2x" src="../components/images/div-bar-09__img02.jpg" alt="article-image-02" class="center">
            <h3 class="h3--article-title">Style Your Success</h3>
            <h4>Elegance: Beyond Pearls &#38; Lipstick</h4>
            <button type="button" name="button" class="button--white">read more &#62;</button>
        </div>
        <div class="page-section--article-content">
          <img srcset="../components/images/div-bar-09__img03.jpg 2x" src="../components/images/div-bar-09__img03.jpg" alt="article-image-03" class="center">
          <h3 class="h3--article-title">Live Luxuriously</h3>
          <h4>Frenchie Friday: 50 Ways to Be Elegant</h4>
          <button type="button" name="button" class="button--white">read more &#62;</button>
      </div>
      <div class="page-section--article-content">
        <img srcset="../components/images/div-bar-09__img04.jpg 2x" src="../components/images/div-bar-09__img04.jpg" alt="article-image-04" class="center">
        <h3 class="h3--article-title">Cherish Your Body</h3>
        <h4>I Studied How French Women Eat, and This is What I Learned</h4>
        <button type="button" name="button" class="button--white">read more &#62;</button>
      </div>
    </div>
    </article>

    <article class="component component__code--tan">
      <h3 class="component__button"><span>page-section--instagram</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-10.png 2x" src="../components/images/div-bar-10.png" alt="page-section--instagram mockup">
      </div>
      <div class="page-section--instagram">
        <div class="page-section--instagram-headline">
          <h2 class="h2--capitalized">Let's Rendezvous</h2>
        </div>
            <div class="page-section--instagram-content center">
              <img srcset="../components/images/instagram-image01.jpg 2x" src="../components/images/instagram-image01.jpg" alt="instagram-image-01">
           </div>
           <div class="page-section--instagram-content center">
             <img srcset="../components/images/instagram-image02.jpg 2x" src="../components/images/instagram-image02.jpg" alt="instagram-image-02">
          </div>
          <div class="page-section--instagram-content center">
            <img srcset="../components/images/instagram-image03.jpg 2x" src="../components/images/instagram-image03.jpg" alt="instagram-image-03">
         </div>
         <div class="page-section--instagram-content center">
           <img srcset="../components/images/instagram-image04.jpg 2x" src="../components/images/instagram-image04.jpg" alt="instagram-image-04">
        </div>
        <div class="page-section--instagram-content center">
          <img srcset="../components/images/instagram-image05.jpg 2x" src="../components/images/instagram-image05.jpg" alt="instagram-image-05">
       </div>
       <div class="page-section--instagram-bottomline">
         <h3 class="h3--instagram-handle">&#64;tonayleigh</h3>
         <h3 class="h3--cursive">on instagram</h3>
       </div>
      </div>
    </article>


    <article class="component">
      <h3 class="component__button"><span>footer</span></h3>
      <div class="component__image">
        <img srcset="../components/images/footer.png 2x" src="../components/images/footer.png" alt="footer">
      </div>
      <div class="component__code">
          <div class="footer-grid-container">
            <div class="footer-grid-item-01">
              <ul class="footer-link">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Start Here</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Experience</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
          </div>
          <div class="footer-grid-item-02">
            <img srcset="../components/images/footer__logo.png 2x" src="../components/images/footer__logo.png" alt="footer-logo">
          </div>
          <div class="footer-grid-item-03">
            <h3 class="h3--article-title-white">Subscribe</h3>
            <p class="p--white">Weekly inspiration to you and elegance</p>
            <p class="p--white">into your everyday and more <em>joie</em> into your <em>vivre</em></p>
            <button class="button--blush">Oui Please</button>
        </div>
        </div>
      </div>
    </article>

    <article class="component">
      <h3 class="component__button"><span>footer--copyright</span></h3>
      <div class="component__image">
        <img srcset="../components/images/footer--copyright.png 2x" src="../ccomponents/images/footer--copyright.png" alt="footer">
      </div>
      <div class="component__code">
       <div class="footer--copyright">
        <img srcset="../components/images/footer--copyright__icon.png 2x" src="../components/images/footer--copyright__icon.png" alt="icon for facebook">
        <img srcset="../components/images/footer--copyright__icon02.jpg 2x" src="../components/images/footer--copyright__icon02.jpg" alt="icon for instagram">
        <p class="p--copyright">&#169; 2019 French Kiss Life. All Rights Reserved.</p>
        <p class="p--copyright-link"><a href="#">Privacy Policy</a></p>
        <p class="p--copyright"> / </p>
        <p class="p--copyright-link"><a href="#">Terms &#38; Conditions</a></p>
        <img srcset="../components/images/footer--copyright__icon03.jpg 2x" src="../components/images/footer--copyright__icon03.jpg" alt="icon for twitter">
        <img srcset="../components/images/footer--copyright__icon04.jpg 2x" src="../components/images/footer--copyright__icon04.jpg" alt="icon for pinterest">
        </div>
      </div>
    </article>


  </body>
</html>
