<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day|Montserrat:300,300i,500,500i|Playfair+Display:400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../main.css">
    <meta charset="utf-8">
    <title>Components</title>
  </head>
  <body>
    <h1>Web Components Go Here!</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
      <h3 class="component__name section-title"><span>Body</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-04__paragraph.png 2x"
        src="../components/images/div-bar-04__paragraph.png" alt="body-copy">
      </div>
      <div class="component__code">
        <p>My Southern mama taught me that a good hostess always makes her guests feel welcome,</p>
        <p>So I do hope you’ll make yourself at home in my virtual world.</p>
        <p>At French Kiss Life, we curate timeless wisdom and stories for the modern woman.</p>
        <p>If you’re wondering where to start, click below,</p>
        <p>So you can saunter into a new lifestyle to French Kissing Life!</p>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings"><span>h1</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-02__h2.png 2x" src="../components/images/div-bar-02__h2.png" alt="h1">
      </div>
      <div class="component__code">
        <h1>Welcome to French Kiss Life</h1>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings"><span>h2</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-02__h3.png 2x" src="../components/images/div-bar-02__h3.png" alt="h2">
      </div>
      <div class="component__code">
        <h2>Where Personal Development Meets Style</h2>
      </div>
    </article>


    <article class="component">
      <h3 class="component__headings"><span>h2--cursive-white</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-03__h2.png 2x" src="../components/images/div-bar-03__h2.png" alt="h2--cursive-white">
      </div>
      <div class="component__code--navy-blue">
        <h2 class="h2--cursive-white">When you French Kiss Life...</h2>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings"><span>h2--cursive-black</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-04__h2.png 2x" src="../components/images/div-bar-04__h2.png" alt="h2--cursive-black">
      </div>
      <div class="component__code">
        <h2 class="h2--cursive-black">Well, hello there!</h2>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings"><span>h2--bold</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-05__h2.png 2x" src="../components/images/div-bar-05__h2.png" alt="h2--bold">
      </div>
      <div class="component__code--tan">
        <h2 class="h2--bold">3 Mindset Makeovers</h2>
        <h2 class="h2--bold">Every Woman Needs</h2>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings"><span>h2--capitalized</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-10__h2.png 2x" src="../components/images/div-bar-10__h2.png" alt="h2--capitalized">
      </div>
      <div class="component__code--tan">
        <h2 class="h2--capitalized">Let's Rendezvous</h2>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings"><span>h3</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-07__h2.png 2x" src="../components/images/div-bar-07__h2.png" alt="h3">
      </div>
      <div class="component__code">
        <h3>French Kiss Life Insider</h3>
      </div>
    </article>


    <article class="component">
      <h3 class="component__headings"><span>h3--capitalized</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-04__h3.png 2x" src="../components/images/div-bar-04__h3.png" alt="h3--capitalized">
      </div>
      <div class="component__code">
        <h3 class="h3--capitalized">I'm Tonya</h3>
      </div>
    </article>

    <article class="component">
      <h3 class="component__button"><span>button</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-02__button.png 2x" src="../components/images/div-bar-02__button.png" alt="button">
      </div>
      <div class="component__code">
        <button>Learn More</button>
      </div>
    </article>

    <article class="component">
      <h3 class="component__button"><span>button--blush</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-03__button.png 2x" src="../components/images/div-bar-03__button.png" alt="button--pink">
      </div>
      <div class="component__code">
        <button class="button--blush">Oui Please</button>
      </div>
    </article>

    <article class="component">
      <h3 class="component__button"><span>button--white</span></h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-09__button.png 2x" src="../components/images/div-bar-09__button.png" alt="button--white">
      </div>
      <div class="component__code">
        <button class="button--white">read more &#62;</button>
      </div>
    </article>


  </body>
</html>
