<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i|Playfair+Display:400,400i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../main.css">
    <meta charset="utf-8">
    <title>Components</title>
  </head>
  <body>
    <h1>Web Components Go Here!</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
      <h3 class="component__name">Body</h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-04__paragraph.png 2x"
        src="../components/images/div-bar-04__paragraph.png" alt="body-copy">
      </div>
      <div class="component__code">
        <p>My Southern mama taught me that a good hostess always makes her guests feel welcome,</p>
        <p>So I do hope you’ll make yourself at home in my virtual world.</p>
        <p>At French Kiss Life, we curate timeless wisdom and stories for the modern woman.</p>
        <p>If you’re wondering where to start, click below,</p>
        <p>So you can saunter into a new lifestyle to French Kissing Life!</p>
      </div>
    </article>

    <article class="component">
      <h3 class="component__headings">Body</h3>
      <div class="component__image">
        <img srcset="../components/images/div-bar-05__paragraph.png 2x" src="../components/images/div-bar-05__paragraph.png" alt="body-copy">
      </div>
      <div class="component__code">
        <p>While a new hairstyle or great wardrobe is fabulous,</p>
        <p>the best makeover is in your Mind!</p>
        <p>In this free training, you will makeover your mind,</p>
        <p>so that you can redesign your life.</p>
      </div>
    </article>

  </body>
</html>
